body {

}

/* * {
    border: 1px dotted red;
} */

img {
    max-width: 200px;
}

.codes-area {
    margin-bottom: 20px;

}

.grid {
    display: flex;


}

.part-card {
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
}

.highlight {
    background-color: darkcyan;
}